<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
        <link rel="stylesheet" type="text/css" href="common/css/import.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="css/common.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="css/print.css" media="print"/>
        <script type="text/javascript" src="common/js/jquery.js"></script>
        <script type="text/javascript" src="common/js/common.js"></script>
        <script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
        <{include file="../Common/css.html"}>
	<{*<script type="text/javascript" src="js/exclusionControl/exclusiveControl.js"></script>*}>
</head>
<body id="print">
	<div id="container">
	<{$main}>
    <{include file="../Common/print_footer.html"}>
	</div><!-- /#container -->
</body>
</html>