
<link rel="stylesheet" type="text/css" href="/assets/css/zzsc.css">

<!--<script type="text/javascript" class="library" src="js/jquery-1.8.2.min.js"></script>-->
<!-- <script type="text/javascript" class="library" src="js/jquery.colorbox-min.js"></script> -->
<script type="text/javascript" class="library" src="/assets/js/zzsc.js"></script>                
<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">控制台</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="page-header ">
                            <h1>
								控制台
								<small>
									<i class="icon-double-angle-right"></i>
									 查看
								</small>
							</h1>
						</div><!-- /.page-header -->
                        <div class="clear"></div>
                            
                        <div class="row">
                            <div class="space-6"></div>
                            <div class="col-xs-5 col-sm-5 col-md-5" >
<!--                                <div class="cat_images">
                                    <img src="<{$car.car_head}>" width="300">
                                </div>-->
                                
                                
                                <div class="con-FangDa" id="fangdajing">
                                    <div class="con-fangDaIMg">

                                        <img src="<{$car.car_head}>">

                                        <div class="magnifyingBegin"></div>

                                        <div class="magnifyingShow"><img src="<{$car.car_head}>" alt="<{$car.car_name}>"></div>
                                    </div>

                                    <ul class="con-FangDa-ImgList">
                                    <{foreach from=$car.car_images key=key item=car_image name=name}>
                                    <{if $key==0}>
                                        <li class="active"><img src="<{$car_image}>" data-bigimg="<{$car_image}>"></li>
                                        <{else}>
                                        <li><img src="<{$car_image}>" data-bigimg="<{$car_image}>"></li>
                                    <{/if}>
                                    <{/foreach}>
                                    </ul>
                                </div>
                                
                            </div>
                            <div class="col-xs-5 col-sm-5 col-md-5 pricing-box" style="z-index: 1">
										<div class="widget-box">
											<div class="widget-header header-color-orange">
												<h5 class="bigger lighter">Starter Package</h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<ul class="list-unstyled spaced2">
														<li>
															<i class="icon-ok green"></i>
															50 GB Disk Space
														</li>

														<li>
															<i class="icon-ok green"></i>
															1 TB Bandwidth
														</li>

														<li>
															<i class="icon-ok green"></i>
															1000 Email Accounts
														</li>

														<li>
															<i class="icon-ok green"></i>
															100 MySQL Databases
														</li>

														<li>
															<i class="icon-ok green"></i>
															$25 Ad Credit
														</li>

														<li>
															<i class="icon-ok green"></i>
															Free Domain
														</li>
													</ul>

													<hr>
													<div class="price">
														$10
														<small>/month</small>
													</div>
												</div>

												<div>
													<a href="#" class="btn btn-block btn-warning">
														<i class="icon-shopping-cart bigger-110"></i>
														<span>Buy</span>
													</a>
												</div>
											</div>
										</div>
									</div>
                        </div>
                                    
                        
                        
                        
                        
                        
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->