<ul class="nav nav-list">
    <{if $user['u_type']>0}>
    
        <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-desktop"></i>
            <span class="menu-text"> <{$adminMenu.name}> </span>

            <b class="arrow icon-angle-down"></b>
        </a>
        <ul class="submenu">
        <{foreach from=$adminMenu.sub key=key item=m}>
            <{if $m.sub}>
                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-double-angle-right"></i>

                        <{$m.name}>
                        <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu">
                <{foreach from=$m.sub item=ms}>

                        <li>
                            <a href="<{$ms.uri}>">
                                <i class="icon-leaf"></i>
                                <{$ms.name}>
                            </a>
                        </li>                                            
                <{/foreach}>
                    </ul>
                </li>
            <{else}>
                <li>
                    <a href="<{$m.uri}>">
                        <i class="icon-double-angle-right"></i>
                        <{$m.name}>
                    </a>
                </li>
            <{/if}>
            <{/foreach}>
        </ul>
    </li>
    
    <{/if}>
    <{foreach from=$classArrTree item=ct}>
    <{if $ct.son}>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-list"></i>
                <span class="menu-text"> <{$ct.name}> </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <{foreach from=$ct.son item=cts}>
                <li>
                    <a href="?c=index&a=index&classid=<{$cts.c_id}>">
                        <i class="icon-double-angle-right"></i>
                        <{$cts.name}>
                    </a>
                </li>
                <{/foreach}>
            </ul>
        </li>
    <{else}>
        <li >
            <a href="?c=index&a=index&classid=<{$ct.c_id}>">
                <i class="icon-dashboard"></i>
                <span class="menu-text"> <{$ct.name}> </span>
            </a>
        </li>
    <{/if}>
    <{/foreach}>
    


</ul> <!--/.nav-list -->