<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">车辆管理</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="icon-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">
        <div class="page-header pull-left">
            <h1>
                车辆管理
                <small>
                    <i class="icon-double-angle-right"></i>
                    编辑
                </small>
            </h1>
        </div><!-- /.page-header -->
        <div class="pull-right">
            <{include file="../Common/kindeditor.html"}>
        </div>

        <div class="row">

            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <form class="form-horizontal" method="POST" action="/?c=Car&a=mDoEdit&carid=<{$car['car_id']}>" enctype="multipart/form-data"  role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 车名 </label>

                        <div class="col-sm-9">
                            <input type="text" name='car_name' value='<{$car.car_name}>' id="form-field-1" placeholder="车名" class="col-xs-10 col-sm-5">
                        </div>
                    </div>

                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">分类 </label>

                        <div class="col-sm-9">
                            <select class="form-control pull-left" id="form-field-select-1" style="width: 30%;min-width: 100px;">
                            
                            </select>
                            <select class="form-control col-xs-10 col-sm-5 pull-left" id="form-field-select-2"  style="width: 30%;min-width: 100px;">
                            
                            </select>
                            <!--<input type="text" name='car_dec' id="form-field-2" value="<{$car.car_dec}>" placeholder="简介" class="col-xs-10 col-sm-5">-->

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">简介 </label>

                        <div class="col-sm-9">
                            <input type="text" name='car_dec' id="form-field-2" value="<{$car.car_dec}>" placeholder="简介" class="col-xs-10 col-sm-5">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">排序 </label>

                        <div class="col-sm-9">
                            <input type="text" name='sort' id="form-field-2" value="<{$car.sort}>" placeholder="排序" class="col-xs-10 col-sm-5">
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle">数字越小越在前</span>
                            </span>
                        </div>
                    </div>
                                        <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">价格 </label>

                        <div class="col-sm-9">
                            <input type="text" name='price' id="form-field-2" value="<{$car.price}>" placeholder="价格" class="col-xs-10 col-sm-5">
                        </div>
                    </div>
                    

                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 图文详情 </label>

                        <div class="col-sm-9">

                            <textarea name="content1" style="width:700px;height:500px;visibility:hidden;"><{$car.description}></textarea>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">图片封面</label>

                        <div class="col-sm-9">
                          
                           <img width="100" src="<{$car.car_head}>">
                           <input type='file' name='imagehead[]'>
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">图片介绍 (点击图片删除)</label>

                        <div class="col-sm-9">
                           <{foreach from=$car_images item=image}>
                           <img src="<{$image}>" width="100" imageid="<{$car.car_id}>" onclick="delimage(this)">
                           <{/foreach}>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">添加图片 </label>

                        <div class="col-sm-9">
                            <input type="file" name='fileimages[]' onchange="imageeschanges(this)" id="form-field-2"  placeholder="图片" class="col-xs-10 col-sm-5" accept="image/*">
                            <button class="btn" id="imageadd" onclick="return false;">添加</button>
                        </div>
                    </div>





                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="icon-ok bigger-110"></i>
                                Submit
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="icon-undo bigger-110"></i>
                                Reset
                            </button>
                        </div>
                    </div>

                </form>


            </div>









            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->

<script>
    $(function () {

        $("#imageadd").click(function(){
            var str='<input type="file" name="fileimages[]" id="form-field-2" onchange="imageeschanges(this)"  class="col-xs-10 col-sm-5"  accept="image/*">';
            $(this).before(str);
        });
        $("#form-field-select-1").change(function(){
             getClass($(this).val(),"#form-field-select-2");
            
        });
        getClass(0,"#form-field-select-1");
    });
    function getClass(id,domId){
        $.post("?c=Class&a=getClassApi",{"pid":id},function(data){
           data=$.parseJSON(data);
            var str=" <option value=''>请选择</option>";
                for(var i in data){
                str+=" <option value="+data[i]["c_id"]+">"+data[i]['name']+"</option>";
            }
            
            $(domId).html(str);
        });
    }
function delimage(obj){
  var immgurl=$(obj).attr('src');
  var id=$(obj).attr('imageid');
  if(confirm("确定删除？")){
      $.post("?c=Car&a=imageajaxdel&id="+id,{'imgurl':immgurl},function(data){
          data=$.parseJSON(data);
          if(data.status==true){
              alert("删除成功");
              window.location.href='';
          }else{
               alert("删除失败");
              window.location.href='';
          }
      });
  }
  
}
</script>